body {
  background-color: green;
  
}
h1{
  color: purple;
 font-size: 45px;
  font-family: helvetica, Arial, Sans-serif;
}
img {
  width: 500px;
  height: 500px;
}
.header {
  background: black;
  padding-left: 10px;
  border: 1px solid black;
   
}
p,li {
  color: white;
  font-family: helvetica, arial, sans-serif;
}
.main{
  
}
.footer {
  color: white;
  background: black;
  border: 1px solid black;
  padding-left: 10px;
}
